@page
@using shopify_api_management.Model
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Shopify Products</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Name</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Vendor</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Created</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                    
                            @foreach(Product product in Model._products)
                            {
                                <tr>
                                    <td>
                                    <div class="d-flex px-2 py-1">
                                        <div>
                                        <img src="@product.image.src" class="avatar avatar-sm me-3" alt="user1">
                                        </div>
                                        <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">@product.title</h6>
                                        </div>
                                    </div>
                                    </td>
                                    <td>
                                    <p class="text-xs font-weight-bold mb-0">@product.vendor</p>
                                    <p class="text-xs text-secondary mb-0">@product.product_type</p>
                                    </td>
                                    <td class="align-middle text-center text-sm">
                                    <span class="badge badge-sm bg-gradient-success">@product.status</span>
                                    </td>
                                    <td class="align-middle text-center">
                                    <span class="text-secondary text-xs font-weight-bold">@product.Created</span>
                                    </td>
                                    <td class="align-middle text-center">
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                                        Edit
                                    </a>
                                    </td>
                                </tr>
                            }

                    
                            
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
     